.Splash {

	.Splash__logo {
		margin: 0 auto;
	}

	.Splash__button {
		margin-top: 20px;
		margin-left: 0px;

		&:nth-of-type(even) {
			margin-left: 30px;
		}
	}
	
}
@media (min-width: 768px) {
	.Splash {
		.Splash__button {
			margin-left: 30px;

			&:nth-of-type(1){
				margin-left: 0px;
			}
		}
	}	
}
