// BREAKS
$break-small: 768px;
// COLORS
$yellow: #F7C723;
$red: #EC1D25;
$darkRed: #650001;
$darkerRed: #3C0102;
$lightRed: #E7262F;
$lighterRed: #DD474E;
$brown: #904C2B;
$darkBrown: #7C4B2A;
$lightBrown: 997047;
// MORE COLORS
$danger: #ff3f21;
$warning: #e88700;
$info: #4db8ff;
$primary: #0066ff;